<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scatch</title>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="font-['helvetica_now_display'] bg-gray-50">
  <nav class="fixed top-0 left-0 w-full bg-white border-b z-50">
      <div
        class="max-w-7xl mx-auto flex justify-between items-center px-8 py-4"
      >
        <h3 class="text-xl font-semibold tracking-tight">Scatch</h3>
        <% var loggedin = typeof loggedin !=='undefined' ? loggedin : true %>
        <% if(loggedin) {%>

        <div class="flex gap-6 text-sm font-medium">
          <a href="" class="hover:text-blue-600 transition"
            >Shop</a
          >
          <a href="/cart" class="hover:text-blue-600 transition"
            >Cart</a
          >
          <a href="" class="hover:text-blue-600 transition"
            >My Account</a
          >
           <a href="/users/logout" class="hover:text-blue-600 transition"
            >Logout</a
          >
        </div>
        <% } %>
      </div>
    </nav>

  <!-- Page content starts -->
  <div class="pt-20 mx-auto flex items-center justify-center">
